@import '../../../style-import.scss';
.filterItem {
  display: flex;
  align-items: center;
  justify-content: space-between;

  label {
    display: flex;
    align-items: center;
    cursor: pointer;
    .filterItem-name {
      @extend %Heading18RegularText;
      font-size: 10px;
    }

  }
  .filterItem-value {
    @extend %Heading18RegularText;
    font-size: 10px;
  }
}
