@import '../../style-import.scss';
.article-container {
  display: flex;
  justify-content: space-between;
  background-color: #BDC3C7;
  padding: 20px;
  width: 100%;
  .article-container-path-image {
    max-height: 100%;
    width: 60%;
    padding: 10px;
    .article-container-path {
      @extend %Heading18RegularText;
      font-size: 16px;
      width: 60%;
      display: flex;
      justify-content: space-between;
    }
    .article-container-image {
      display: flex;
      width: 100%;
      height: 100%;
      .article-image-list {
        height: 100%;
        overflow: auto;
        margin-right: 20px;
        width: 30%;
        .article-list-elem {
          width: 90%;
          display: flex;
          align-items: center;
          &:not(:last-child) {
            margin-bottom: 5px;
          }
          .article-image-list-elem {
            width: 90%;
            border-radius: 5px;
          }
        }
      }
      .article-image-list::-webkit-scrollbar {
        width:0px;
      }
      .article-container-main-image {
        height: 90%;
        width: 75%;
        display: flex;
        flex-direction: column;
        .article-container-title {
          width: 100%;
          display: flex;
          align-items: flex-end;
          .article-title {
            margin-right: 10px;
            @extend %Heading24BoldBlack;
          }
          .article-brand {
            @extend %Heading12Thin;
          }
        }
        .article-main-image {
          width: 80%;
          max-height: 70%;
          border-radius: 5px;
          object-fit: contain;
        }
      }
    }
  }
  .article-container-text {
    max-height: 50vh;
    width: 35%;
    height: 90%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    .article-container-price {
      display: flex;
      align-items: flex-end;
      .article-price-new {
        @extend %Heading18RegularText;
        margin-right: 5px;
      }
      .article-price-old {
        @extend %Heading18Light;
        color: rgb(192, 11, 11);
        text-decoration: line-through;
        position: relative;
        bottom: 10px;
        margin-right: 10px;
      }
      .article-price-discount {
        @extend %Heading12Thin;
        background-color: rgb(192, 11, 11);
        padding: 2px 5px 2px 5px;
        border-radius: 5px;
        color: rgb(240, 227, 212);
      }
    }
    .article-container-stock-rating {
      display: flex;
      margin-top: 5px;
    }
    .article-stock {
      @extend %Heading12Thin;
      margin-top: 5px;
    }
    .article-rating {
      @extend %Heading12Thin;
      margin-left: 40px;
    }
    .article-description {
      @extend %Heading18RegularText;
      margin-top: 10px;
    }
    .article-container-button{
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      width: 50%;
      & button{
        @extend %button;
      }
      .article-list-active{
        background-color: #499499;
      }
      .article-button-buy{
        margin-top: 10px;
      }
      .article-button-back{
        margin-top: 10px;
        background-color: #7F8C8D;
      }
    }
  }
}

@media (max-width: 1200px) {
  .article-container{
    height: 60vh;
    .article-container-image {
      width: 75%;
    }
    .article-container-text .article-container-button{
      width: 70%;
    }
  } 
 }

 @media (max-width: 850px) {
    .article-container {
      height: auto;
      .article-container-text {
        .article-container-stock-rating {
          flex-direction: column;
        }
        .article-rating {
          margin-left: 0px;
        }
        .article-container-button{
          width: 100%;
        }
      } 
    } 
 }

 @media (max-width: 800px) {
  .article-container .article-container-image .article-container-main-image .article-container-title {
      flex-direction: column;
      align-items: flex-start;
    }
 }
 
 @media (max-width: 700px) {
  .article-container{
    flex-direction: column;
    justify-content: space-between;
    .article-container-image {
      width: 100%;
      .article-container-main-image{
        width: 90%;
        height: auto;
        .article-main-image{
          width: 100%;
        }
      } 
      flex-direction: column-reverse;
      .article-image-list{
        display: flex;
        flex-direction: row;
        height: 30%;
        width: 100%;
        margin-top: 10px;
      }
    }
    .article-container-text{
      width: 100%;
      margin-top: 10px;
      .article-container-button{
        width: 50%;
      }
    }
  }
 }
 @media (max-width: 450px) {
  .article-container{
    padding: 2px;
    .article-container-path-image{
      width: 100%;
    }
    .article-container-text{
      .article-container-button{
        width: 80%;
      }
    }
  }
 }