.card {
  display: flex;


  &-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-top: 5px;
    & li {
      width: 27%;
      background-color: #BDC3C7;
      border-radius: 5px;
      margin-bottom: 5px;
      border: 1px solid grey;
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 10px;
    & li {
      margin-top: 10px;
      box-shadow: 0 0 3px 1px rgb(156, 161, 165);
    }
  }
}
@media (max-width: 600px) {
  .card {
    &-block {
      & li {
        width: 40%;
      }
    }
    &-list {
      width: 70%;
    } 
  } 
  
}
@media (max-width: 450px) {
  .card {
    &-list {
      width:60%;
    } 
  } 
  
}
