.filter {
  &__title {
    margin-bottom: 15px;
  }

  &__list {
    overflow: auto;
    max-height: 200px;
    display: grid;
    flex-direction: column;
    gap: 10px;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
