@import '../../../style-import.scss';
.filter {
  .filter-title {
    margin-bottom: 15px;
    @extend %Heading18RegularText;
    font-size: 12px;
  }

  .filter-list {
    overflow: auto;
    max-height: 200px;
    display: grid;
    flex-direction: column;
    gap: 7px;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
