@import '../../style-import.scss';
.footer {
  background-color: cornflowerblue;
  height: 30px;
  .footer-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    .footer-logo-rss{
      height: 20px;
    }
    .footer-text{
      @extend %Heading18Light;
    }
  }
}
