:root {
  font-size: 0.625rem;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
}

h2,
h3,
h4 {
  font-size: inherit;
}

#root {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  user-select: none;
}

[class*='__container'] {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.main {
  position: relative;
  flex: 1 1 auto;
}
